@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
* {
box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    background-color: #131313;
    max-width: 1440px;
    height: 83px;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    width: 1234px;
    height: 83px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0 10px;
    align-items: center;
    font-family: "Nunito Sans";
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    }
.header__logo {
    color: #E3B873;
    width: 180px;
    height: 10px; 
    font-size: 11px; 
    padding: 0;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-right: 47px;
}
.hm__item {
    margin-right: 47px;
    padding: 0;
}
.hmi__link {
    color: white;
    text-decoration: none;
}
.phone {
    width: 126px;
    height: 16px;
    font-size: 11px;
}
.phonelink {
    color: #E3B873;
}
.button {
    text-transform: uppercase;
    border-radius: 2px;
    padding: auto 0;
    font-size: 11px;
    font-family: "Nunito Sans";
    font-style: italic;
    line-height: 15px;
}
.header-button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border: 0;
    color: white;
    width: 161px;
    height: 37px;
}
.main {
    padding: 0px;
    margin: 0 auto;
}
.mainstep1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/image43.jpg);
    background-size: auto contain;
    max-width: 1440px;
    height: 707px;
    margin: 0;
    padding: 0;
}
.main-container {
    width: 1191px;
    height: 707px;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 194px;
    padding-bottom: 0px;
    position: relative;
}
.title {
    padding: 0px 0px 19px 0px;
    margin: 0px;
    font-family: "Yeseva One";
    font-size: 40px;
    font-style: normal;
    line-height: 53px;
    position: relative;
    top: 0px;
}
h1 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}
.city {
    color: #E3B873;
}
.content {
    width: 504px;
    height: 89px;
    margin: 0px 0px 41px 0px;
    font-size: 22px;
    color: white;
    font-family: "Nunito Sans";
    font-style: italic;
    line-height: 36px;
}
.main-button1 {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border: 0;
    color: white;
    width: 207px;
    height: 51px;
}
.main-button2 {
    color: white;
    margin-left: 20px;
    width: 207px;
    height: 51px;
    background-color: inherit;
    border: 1px solid #FFFFFF;
}
.step2 {
    max-width: 1440px;
    height: 1074px;
    background-color: #131313;
    padding-top: 107px;
    position: relative;
    margin-bottom: -217px;
}
.step2-wrapper {
    width: 1191px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.step2__nav {
    display: flex;
    margin-left: auto;
    width: 679px;
}
.step2__menu {
    display: flex;
    padding: 0;
}
.s2m__item {
    list-style: none;
    font-family: "Yeseva One";
    font-style: normal;
    line-height: 19px;    
    font-size: 14px;
}
.s2m__item + .s2m__item {
    margin-left: 60.5px;
}
.s2m__link {
    color: #E3B873;
    font-size: 14px;
    line-height: 19.4px;
    text-transform: uppercase;
    text-decoration: none;
}
.s2m__item:first-of-type {
    border-bottom: 1px solid #E3B873;
}
.maincontentstep2 {
    display: flex;
    margin-top: 36.68px;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
}
.maincontentstep2-leftblock {
    width: 442px;
    height: 482px;
}
.maincontentstep2-leftblock-completedprojects {
    margin-top: 0px;
    margin-bottom: 42px;
}
.maincontentstep2-leftblock-completedprojects__title {
    text-transform: uppercase;
    font-family: "Yeseva One";
    font-style: normal;
    line-height: 37px;    
    font-size: 27px;
    color: #E3B873;
    margin-bottom: 34px;
    margin-top: 0px;
}
.maincontentstep2-leftblock-completedprojects__p {
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.step2-subtitle {
    font-family: "Yeseva One";
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 0px;
    margin-bottom: 9px;
}
.step2subtitle-p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 190px 218px;
    grid-template-rows: 107px 107px;
}
.vectors-dots {
    display: flex;
    width: 156.64px;
    height: 13.28px;
    position: absolute;
    bottom: 0px;
}
.arrowleft {
    margin-right: -6.59px;
}
.vectorleft {
    position: relative;
    top: -6.5px;
    margin-right: 29.5px;
}
.dotbold {
    margin-right: 17.54px;
}
.dotcenter {
    margin-right: 17.54px;
}
.dotright {
    margin-right: 29.5px;
}
.vectorright {
    position: relative;
    top: -6.5px;
    margin-right: -6.59px;
}
.maincontentstep2-leftblock {
    margin-right: 50px;
    width: 442px;
    position: relative;
}
.rightblock-step2 {
    width: 679px;
    height: 482px;
}
.onlinecontrol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 196px;
    height: 67px;
    margin-left: auto;
    margin-right: auto;
}
#online {
    font-family: "Yeseva One";
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color:#FFFFFF;
    margin: 0px 0px 13px 0px;
    font-size: 20px;
}
#photocontrol {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#photocontrol::before {
    content: url(../Images/Rectangle67.png);
    position: absolute;
    right:calc(150% - 10px);
}
#photocontrol::after {
    content: url(../Images/Rectangle67.png);
    position: absolute;
    left:calc(150% - 10px);
}
.step3 {
    max-width: 1440px;
    height: 434px;
    background-color: inherit;
    position: relative;

}
.videocontainer {
    width: 837px;
    height: 434px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.opacity {
    position: absolute;
    width: 817px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    top: 0;
}
.elips {
    position: absolute;
    width: 817px;
    height: 434px;
    background-color: inherit;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elipswrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.elipswrapper::before {
    content: url(../Images/Polygon.svg);
    position: absolute;

}
.step4 {
    max-width: 1440px;
    height: 1258px;

    
}
.step4-wrapper {
    width: 1256px;
    height: 230px;
    margin: 0 auto 93px;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;

}
.step4-text {
    width: 681px;
    height: 131px;
    margin: 99px auto 0px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;

}
.step4-wrapper::before {
    content: url(../Images/Rectangle\ 6.9.svg);
    position: absolute;
    top: 63px;
}
.form-wrapper {
    width: 789px;
    height: 51px;
    margin: 0 auto;
    text-align: center;

}
.form-level1 {
    display: flex;
    align-items: flex-end;
    margin-bottom: 37px;
}
#name {
    width: 231px;
    height: 26px;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: #363636;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    margin-right: 58px;
}
.form-level1__name {
    position: relative;
}
.form-level1__name::before {
    content: 'Name';
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    position: absolute;
    bottom: 25px;
    text-transform: unset;
}
#phone {
    width: 231px;
    height: 26px;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: #363636;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    margin-right: 49px;
}
.form-level1__phone {
    position: relative;
}
.form-level1__phone::before {
    content: 'Phone';
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    position: absolute;
    bottom: 25px;
    text-transform: unset;
}
#submit {
    width: 200px;
    height: 51px;
    border-radius: 2px;
    background-color: #E3B873;
    border-color: transparent;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}
.form-wrapper-checkbox {
    position: relative;
    width: 259px;
    height: 17px;
    margin: 0 auto;
}
.checkbox-input {
    appearance: none;
    position: absolute;
}
.form-wrapper-checkbox__label {
    font-size: 14px;
    line-height: 23px;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: #181818;
}
.form-wrapper-checkbox__label::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    position: absolute;
    top: 0px;
    left: -27px;
    z-index: 1;
}
.form-wrapper-checkbox__label::after {
    content: '';
    display: block;
    position: absolute;
    color: black;
    background: url("../Images/Done.png");
    width: 8.31px;
    height: 5.71px;
    top: 5px;
    left: -22px;
    z-index: 2;
    opacity: 0;
}
.checkbox-input:checked + .form-wrapper-checkbox__label::after {
    opacity: 1;
}